.Pokedex-cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 85%;
  overflow: auto;
}

.loading-spinner {
  position: absolute;
  top: 50%;
}

.Pokedex-PokeCard-container {
  width: 20rem;
  min-width: 18rem;
  height: 32rem;
  margin: 3rem;
  text-align: center;
}
