.PokeCardGame-start-game-screen {
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.PokeCardGame {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PokeCardGame-players-card-lists-container {
  height: 85%;
  width: 80%;
  justify-content: space-evenly;
  display: flex;
  align-items: center;
}

.PokeCardGame-player-poke-card-container {
  width: 30%;
  height: 80%;
}

.PokeCardGame-player-poke-card-backside-image {
  height: 100%;
  width: 100%;
}

.PokeCardGame-stats-arena {
  height: 15%;
  width: 90%;
  background-color: #6b5b95;
}

.PokeCardGame-players-score-container {
  display: flex;
  height: 50%;
}

.PokeCardGame-individual-player-score-container {
  flex: 1;
}

.PokeCardGame-cards-remaining-indicator-container {
  flex: 1;
}

.PokeCardGame-player-turn-indicator-container {
  flex: 1;
}

.PokeCardGame-round-winner-indicator-container {
  flex: 1;
  align-self: center;
}

.PokeCardGame-round-winner-indicator-container.hide {
  visibility: hidden;
}

.PokeCardGame-stats-arena-header-container {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  height: 50%;
  align-items: center;
  margin: 0 auto;
}

.PokeCardGame-start-game-button {
  width: 20rem;
  height: 5rem;
  font-size: 2rem;
  font-family: cursive;
  font-weight: bold;
  background-color: antiquewhite;
}

.PokeCardGame-start-game-button:hover {
  cursor: pointer;
}

.PokeCardGame-start-game-button-group-container {
  margin: 2rem;
}

.PokeCardGame-continue-game-button-container.hide {
  display: none;
}

.PokeCardGame-end-game-button-container.hide {
  display: none;
}

.PokeCardGame-winner-message {
  font-family: cursive;
  font-variant: all-petite-caps;
  color: greenyellow;
  font-weight: bold;
  font-size: 1.25rem;
}

.PokeCardGame-player-turn-indicator-container
  .PokeCardGame-player-turn-indicator-text {
  color: gold;
}

.PokeCardGame-draw-message {
  font-family: cursive;
  font-variant: all-petite-caps;
  color: lightyellow;
  font-weight: bold;
  font-size: 1.25rem;
}

.PokeCardGame-stats-text {
  color: white;
  font-size: 1.25rem;
  font-family: monospace;
  font-style: italic;
}
