.PokeCardDialog-img-container {
  margin: 0 auto;
  text-align: center;
  width: 75%;
}

.PokeCardDialog-inverted-chart-container {
  width: 50%;
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 0.25rem;
}
