.PokeCard {
  width: 100%;
  height: 100%;
  background-color: #eeeeee;
}

.PokeCard-details-container {
  height: calc(100% - 2rem);
  padding: 1rem;
}

.PokeCard-pokemon-image-container {
  width: 100%;
  height: 8rem;
}

.PokeCard-pokemon-image {
  max-width: 50%;
  position: relative;
  top: 1rem;
}

.PokeCard-pokemon-image {
  transition: all ease 1000ms;
}

.PokeCard-pokemon-image:hover {
  transform: scale(1.25);
  opacity: 0.7;
}

.PokeCard-title-container {
  height: 2rem;
  width: 100%;
}

.PokeCard-title {
  display: inline;
  font-weight: bold;
  font-size: 1.25rem;
}

.PokeCard-pokemon-basic-details-container {
  width: 100%;
  height: 6rem;
}

.PokeCard-pokemon-basic-detail-container {
  display: inline-block;
  width: 33%;
  height: 100%;
}

.PokeCard-pokemon-basic-detail {
  font-family: cursive;
  font-size: 1.25rem;
  font-weight: bold;
}

.PokeCard-experience-container {
  height: 2rem;
  width: 100%;
}

.PokeCard-hide {
  display: none !important;
}

.PokeCard-pokemon-advanced-stats-container {
  width: 100%;
  height: 10rem;
  padding-top: 0.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

.normal {
  background: #babaae;
}

.fighting {
  background: #a75543;
  color: lightcyan;
}

.flying {
  background: #78a2ff;
  color: honeydew;
}

.poison {
  background: #a95ca0;
  color: bisque;
}

.ground {
  background: #eecc55;
}

.rock {
  background: #ccbd72;
}

.bug {
  background: #c2d21e;
}

.ghost {
  background: #7975d7;
}

.steel {
  background: #c4c2db;
}

.fire {
  background: #fa5643;
  color: floralwhite;
}

.water {
  background: #56adff;
  color: darkred;
}

.grass {
  background: #8cd750;
}

.electric {
  background: #fde139;
}

.psychic {
  background: #fa65b4;
}

.ice {
  background: #96f1ff;
}

.dragon {
  background: #8673ff;
}

.dark {
  background: #8d6855;
}

.fairy {
  background: #f9aeff;
}
